<h1>NPR Health Articles</h1>

<ul>
    {{#each Articles}}
    <li>
        <h5>{{@title}} : {{this}}</h5>
        <p>{{@summary}} : {{this}}</p>
        <a href={{@link}} : {{this}}>Read more</a>
    </li>
    {{/each}}
</ul>