<div class="container">
    
    <div class="row">
        <h1 class="col-12" id="header">NPR Health Articles</h1>
    </div>

    <div class="row">

        {{#each Articles}}
        <div class="col-12" id="articles">
            <div class="row">
                    <div class="col-6  card" id="scrapedData">
                        <div class="cardbody">
                            <h5 id="title">{{title}}</h5>
                            <p id="summary">{{summary}}</p></li>
                            <a id="link" href={{link}}>Read more</a>
                        </div>
                    </div>

                    {{!-- add form --}}

                    <div class="col-5 card" id="commentInput">
                        <div class="cardbody">
                            <form action="/articles/{{this.id}}" method="POST">
                            <div class="form-group">
                                <label for="currentcomment">Current comment:</label>
                                {{#each this.comment}}
                                <h5 id="currentcomment">{{comment}}</h5>
                                {{/each}}
                                <br><label for="exampleFormControlTextarea1">Enter a comment here</label>
                                <input type="text" class="form-control" id="exampleFormControlTextarea1" name="comment"></input>
                                <button type="submit" class="btn btn-primary mb-2">Save Comment</button>
                            </div>
                            </form>
                            <button class="btn btn-secondary mb-2 deletecomment" id="{{this.id}}">Delete comment</button>
                        </div>
                    </div>
            </div>
        </div>
        {{/each}}
    </div>


</div>

